<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />

    <application
        android:name=".GeminiApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.GeminiGo"
        android:usesCleartextTraffic="false"
        tools:targetApi="33">

        <activity android:name=".ui.chat.ChatActivity" android:exported="true"
            android:theme="@style/Theme.GeminiGo.Splash" android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.conversations.ConversationsActivity" android:exported="false" android:parentActivityName=".ui.chat.ChatActivity" />
        <activity android:name=".ui.settings.SettingsActivity" android:exported="false" android:parentActivityName=".ui.chat.ChatActivity" />
    </application>
</manifest>
